---
layout: base
---

- meetup = site.meetups.last
- date   = Date.parse( meetup["on"] )
- first  = meetup.speakers.first
- second = meetup.speakers.last

.row

  .span8
    %p
      - if past?(meetup)
        Last meetup was on
      - else
        Next meetup is on
    %h2= Date.parse( meetup["on"] ).strftime("%A, %B %d")
    %h3<
      &laquo;
      = meetup.title
      &raquo;
    - if meetup.blurb
      %p= meetup.blurb
  .span3.offset1

.row.meetup
  .span6
    = partial 'speaker.html.haml', 'speaker' => first
  .span6
    - if first != second
      = partial 'speaker.html.haml', 'speaker' => second
    - else
      /
        %img(src="/img/box_o_kittens.jpg")
        %h3
          %a{ :href=> "mailto:contact@js-montreal.org "} Space for one more. Email us!
    / - if booked?(meetup)
    /   = partial 'speaker.html.haml', 'speaker' => second
    / - else
    /   %p
    /     %a.btn.btn-info{ :href=> "mailto:contact@js-montreal.org "}
    /       Looks like there's space for one more presentation!